

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Список сообщений</h2>
</div>


<div class="row">
    <div class="col-md-8  well">
    </div>
    <div class="col-md-4  well">
        <h2></h2>
        <p></p>
    </div>
</div>

